# Тема “Обучение с учителем”

### Задание 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [3]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [6]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [31]:
X = pd.DataFrame(boston['data'], columns = boston['feature_names'])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [32]:
y = pd.DataFrame(boston['target'], columns = ['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [36]:
from sklearn.linear_model import LinearRegression

In [42]:
lr = LinearRegression()

In [44]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
y_predict = lr.predict(X_test)
y_predict.shape

(152, 1)

In [54]:
check_dataset = pd.DataFrame({'y_test': y_test['price'],
                             'y_pred':y_predict.flatten()})

check_dataset.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [58]:
from sklearn.metrics import r2_score

In [60]:
R2 = r2_score(check_dataset['y_test'], check_dataset['y_pred'])
print(R2)

0.711226005748496

### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [64]:
from sklearn.ensemble import RandomForestRegressor

In [65]:
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

In [67]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=1000,
                      n_jobs=None, oob_score=False, random_state=42, verbose=0,
                      warm_start=False)

In [77]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [88]:
check_dataset_rfc = pd.DataFrame({'y_test':y_test['price'],
                                'y_pred':y_pred.flatten()})

check_dataset_rfc.head(10)

     y_test     y_pred
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148
76     20.0  21.820092
316    17.8  19.866369
140    14.0  14.759938
471    19.6  21.235224
500    16.8  20.883103

In [89]:
R2_rfc= r2_score(check_dataset_rfc['y_test'],check_dataset_rfc['y_pred'])
print ('RandomForest R2', R2_rfc)
print ('LinearRegression R2: ', R2)

RandomForest R2 0.8749965273218174
LinearRegression R2:  0.711226005748496

По результатам R2 себя лучше показал Random Forest но меня смущает маневр с y_train.values[:, 0], я не совсем понял как он повлиял на работу модели.

### * Задание 3
Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [93]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [94]:
print(sum(model.feature_importances_))

0.9999999999999999

In [95]:
feat_import = pd.DataFrame({
    "feature_name": boston['feature_names'],
    "feature_importance": model.feature_importances_
})
feat_import

   feature_name  feature_importance
0          CRIM            0.032117
1            ZN            0.001550
2         INDUS            0.007094
3          CHAS            0.001149
4           NOX            0.014368
5            RM            0.402705
6           AGE            0.014245
7           DIS            0.064033
8           RAD            0.004968
9           TAX            0.011692
10      PTRATIO            0.018090
11            B            0.012311
12        LSTAT            0.415679

In [96]:
feat_import.nlargest(2, "feature_importance")

   feature_name  feature_importance
12        LSTAT            0.415679
5            RM            0.402705